/* Start Public Style */
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #222;
    color: #fff;
}
.container {
    width: 100%;
    padding: 0px 5% 0px;
    /* margin: auto; */
    overflow: hidden;
}
/* End Public Style */

/* Start Header Section */
header {
    background: #333;
    padding: 10px 0;
}
.nav-menu {
    display: block; /* إخفاء القائمة افتراضيًا */
}
.menu-button {
    display: none;
    background-color: #333; /* لون الخلفية */
    color: #fff; /* لون النص */
    border: none; /* بدون حدود */
    padding: 10px; /* حواف */
    cursor: pointer; /* تغيير شكل المؤشر عند التمرير */
    font-size: 24px; /* حجم النص */
    border-radius: 5px; /* جعل الزر دائري الزوايا */
}
.title {
    float: left;
    font-size: 24px;
    line-height: 55px;
}
nav {
    float: right;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
    margin-left: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}
nav a:hover {
    color: #007bff;
}
/* End Header Section */

/* Start Profile Section */
.hero {
    /* padding: 40px; */
    width: 100%;
    padding: 0px 5% 0px;
}
.hero .allSection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: #444;
    margin: 20px auto;
    border-radius: 8px;
    height: 100%;
    padding: 50px;
}
.hero .intro {
    padding-left: 50px;
}
.allSection .intro h1 {
    font-size: 40px;
    margin: 10px 0px;
}
.profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* End Profile Section */

/* Start Show Profile Picture Modal Section */
#profileModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
}
#profileModal .modal-content {
    position: relative;
    background-color: #333;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 800px;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 8px;
    top: 50%;
    transform: translate(0px, -50%);
    text-align: center;
}
#profileModal .close {
    position: absolute;
    right: 20px;
    top: 10px;
}
#profileModal .profileModalImg {
    width: 600px;
    height: 600px;
    margin: auto;
}
#profileModal .modal img {
    width: 100%;
    height: 100%;
}
/* End Show Profile Picture Modal Section */


/* Start Projects Style */
.projects {
    margin: 75px 0px;
    padding: 0px 5% 0px;
}
.projects h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: #fff;
}
.projects .section-title {
    font-size: 2rem;
}
.project-wrapper {
    /* max-width: 1100px; */
    /* margin: 0 60px; */
    padding: 20px 10px;
    overflow: hidden;
}
.project-list {
    padding-left: 0px;
}
.project-list .project-item {
    list-style: none;
}
.project-list .project-item .project-link {
    cursor: pointer;
    user-select: none;
    display: block;
    background: #464343;
    padding: 12px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}
.project-list .project-item .project-link:active {
    /* cursor: grabbing; */
}
.project-list .project-item .project-link:hover {
    border-color: #444141;
}
.project-list .project-item img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.project-list .project-item .project-link .badge {
    color: white;
    margin: 4px 0px;
    font-size: 0.80rem;
    font-weight: 500;
    background: #222;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.project-list .project-item .project-link .badge.custom-code {
    color: rgb(233, 226, 226);
    background: #5a5a5a;
}
.project-list .project-item .project-link .project-title {
    font-size: 1.30rem;
    color: white;
    font-weight: 600;
    text-align: left;
}
.project-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    color: #a09b9b;
    background: #9e9b9b;
}
.project-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}
.project-wrapper .swiper-slide-button {
    color: #939393;
    margin-top: 0px;
}
.project-wrapper .swiper-slide-button::after {
    font-size: 30px;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .project-wrapper {
        margin: 0 10px 25px;
    }
    .project-wrapper .swiper-slide-button {
        display: none;
    }
}

/* End Projects Style */    

/* Start Show Project Description Modal Section */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
    background-color: #444;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
}
.modal h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}
.modal img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.modal-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 250px هو عرض الصورة الأدنى */
    gap: 10px;
}
.modal-images img {
    width: 100%;
    height: auto;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#modalImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}
#modalImages img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.view-website {
    display: inline-block;
    padding: 10px 15px;
    background-color: #666;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.view-website:hover {
    background-color: #0056b3;
}
/* End Show Project Description Modal Section */

/* Start Skills Section */
.skills {
    background-color: #222;
    color: #fff;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 8px;
    text-align: center;
}
.skills h2 {
    margin-bottom: 20px;
}
.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill-item {
    background: #444;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    flex: 1 1 150px;
    transition: transform 0.2s ease;
}
.skill-item:hover {
    background: #666;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
/* End Skills Section */

/* Start Contacts Section */
.contact {
    background-color: #444;
    color: #fff;
    padding: 20px 30px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.info-item {
    margin: 15px 0;
}
.contact-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}
.contact-link:hover {
    color: #00bfff;
}
.contact-link i {
    font-size: 24px;
    margin-right: 10px;
}
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social-links a {
    margin: 0 15px 0 0;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}
.social-links a:hover {
    color: #00bfff;
}
.social-links i {
    font-size: 24px;
}
/* End Contacts Section */

/* Start Download Section */
.download-section {
    color: #fff;
    padding: 20px 20px 50px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 8px;
    text-align: center;
    background-color: #444;
}
.download-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.download-section p {
    font-size: 16px;
    margin-bottom: 20px;
}
.download-button {
    padding: 10px 20px;
    background-color: #666;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.download-button:hover {
    background-color: #0056b3;
}
/* End Download Section */

/* Start Footer Section */
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}
/* End Footer Section */

@media (max-width: 768px) {
    .menu-button {
        display: block;
        float: right;
        margin-top: 10px;
    }
    .nav-menu {
        display: none;
        width: 100%;
        text-align: center;
    }
    .container {
        width: 100%!important;
        position: relative;
    }
    .container .title,
    .container .menu-button {
        padding: 0 20px;
    }
    .nav-menu ul {
        padding-left: 0;
    }
    .hero {
        grid-template-columns: 1fr;
        height: auto;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .profile img {
        width: 200px;
        height: 200px;
    }
    .projects .grid {
        grid-template-columns: 1fr;
    }
    .skills .skill-list {
        flex-direction: column;
    }
    .skill-item {
        flex: 1 1 50px;
    }
    .contact-info {
        align-items: center;
    }
    .download-button {
        width: 100%;
    }
    .projects .grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .social-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }
    .social-links a {
        flex: 1 1 30%;
        margin: 5px;
        text-align: center;
    }
    .contact-info {
        align-items: flex-start;
    }
}
